<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <h1>Página de Prueba</h1>
    <p>Usuario: {{ current_user.nombre }}</p>
    <p>Empleado ID: {{ current_user.empleado_id }}</p>
    <p>Trámites: {{ current_user.tramites_asignados }}</p>
    
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        console.log('TEST: Script cargado');
        console.log('Usuario:', '{{ current_user.nombre }}');
        
        const tramites = {{ (current_user.tramites_asignados | map(attribute='id') | list) | tojson }};
        console.log('Trámites:', tramites);
        
        const socket = io();
        socket.on('connect', function() {
            console.log('Socket conectado');
        });
        
        socket.on('nuevo_turno', function(data) {
            console.log('NUEVO TURNO RECIBIDO:', data);
            alert('NUEVO TURNO: ' + data.turno.numero_turno);
        });
    </script>
</body>
</html>
